<h1>Listing Playbooks</h1>

<table class="striped">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @playbooks.each do |playbook| %>
    <tr>
      <td><%= playbook.title %></td>
      <td><%= playbook.body %></td>
      <td><%= link_to 'Show', playbook_path(playbook) %></td>
        <%if current_user.admin? %>
          <td><%= link_to 'Edit', edit_playbook_path(playbook)%></td>
          <td><%= link_to 'Destroy', playbook_path(playbook),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
        <%end%>
    </tr>
  <% end %>
</table>

<%if current_user != nil%>
  <%if current_user.admin? %>
    <div class="fixed-action-btn">
      <%= link_to new_playbook_path, :class=>'btn-floating btn-large waves-effect waves-light red' do %>
        <i class="material-icons">add</i>
      <% end %>
    </div>
  <% end %>
<% end %>