<div>
  <br>
  <strong>Title:</strong> <%= @playbook.title %><br>
  <br>
  <strong>Text: </strong><%= @playbook.body %><br>
  <br>
</div>
<%# Starring section %>
<div class="discussion-show row">
  <div class="starring col s6 right-align">
    <% if !current_user.nil? %>
      <% if !current_user.playbook_stars.find_by(:playbook => @playbook).nil? %>
        <%= link_to star_playbook_path(@playbook), method: :post do %>
          <i class="starred material-icons">star</i>
        <% end %>
      <% else %>
        <%= link_to star_playbook_path(@playbook), method: :post do %>
          <i class="material-icons">star_border</i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div>
  <%if current_user != nil %>
    <%if current_user.admin? %>
      <%= link_to 'Edit Playbook', edit_playbook_path(@playbook)%>
    <%end%>
  <%end%>
  <%= link_to "Home", root_path%>
  <%= link_to 'Back', playbooks_path %>
</div>