<div>
  <br>
  <strong>Team:</strong> <%= @team.name %><br>
  <br>
  <strong>City: </strong><%= @team.city %><br>
  <br>
</div>
<div>
  <%if current_user != nil %>
    <%if current_user.admin? %>
      <%= link_to 'Edit', edit_team_path(@team)%>
    <%end%>
  <%end%>
  <%= link_to "Home", root_path%>
  <%= link_to 'Back', teams_path %>
</div>

<div class="row">
  <% @team.articles.each do |article| %>
    <div class="card">
      <%= link_to article_path(article) do %>
        <h5><%= article.title %></h5>
        <p><%= article.body[1..100] %> ...</p>
      <% end %>
    </div>
  <% end %>
</div>