<h1>Create a discussion</h1>
<div class="row">
    <div class="col s12 m6">
        <%= form_for @discussion do |form| %>
            <%= form.label :title %>
            <%= form.text_field :title %>

            <%= form.label :body %>
            <%= form.text_area :body, :class => 'materialize-textarea' %>
            
            <%= form.submit 'Create Comment', :class => 'waves-effect waves-light btn' %>
        <% end %>
    </div>
</div>