<h1>Listing discussions</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @discussions.each do |discussion| %>
    <tr>
      <td><%= discussion.title %></td>
      <td><%= discussion.body %></td>
      <td><%= link_to 'Show', discussion_path(discussion) %></td>
      <td><%= link_to 'Edit', edit_discussion_path(discussion) %></td>
      <td><%= link_to 'Delete', discussion_path(discussion),
              method: :delete,
              data: { confirm: 'Are you sure to delete the discussion?' } %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= link_to 'New', new_discussion_path %></td>
  </tr>
</table>
