<p>
  <strong>Title:</strong>
  <%= @discussion.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @discussion.body %>
</p>

<%= link_to 'Upvote', upvote_discussion_path(@discussion), method: :post %>
<%= link_to 'Downvote', downvote_discussion_path(@discussion), method: :post %>
<p>Upvotes: <%= @discussion.discussion_upvotes.count %></p>
<p>Downvotes: <%= @discussion.discussion_downvotes.count %></p>

<%= link_to 'Star the discussion', star_discussion_path(@discussion), method: :post %>
<% if !current_user.nil? && !current_user.discussion_stars.find_by(:discussion => @discussion).nil? %>
  <p>You starred this article</p>
<% end %>

<%= render @discussion.comments %>
<%= render 'comments/form' %>

<% if @discussion.user == current_user %>
  <%= link_to 'Edit', edit_discussion_path(@discussion) %>
  <%= link_to 'Delete', discussion_path(@discussion),
                method: :delete,
                data: { confirm: 'Are you sure to delete the discussion?' } %>
<% end %>
<%= link_to 'Back', discussions_path %>
