<div class="discussion-show row">
  <div class="col s12">
    <h1><%= @discussion.title %></h1>
    <p class="flow-text"><%= @discussion.body %></p>
  </div>
  <%# Voting section %>
  <div class="col s6">
    <%= link_to upvote_discussion_path(@discussion), :id => "discussion-upvote-link",  method: :post do %>
      <i class="green-text material-icons">arrow_upward</i>
    <% end %>
    <%= total_votes %>
    <%= link_to downvote_discussion_path(@discussion), :id => "discussion-downvote-link", method: :post do %>
      <i class="red-text material-icons">arrow_downward</i>
    <% end %>
  </div>
  <%# Starring section %>
  <div class="starring col s6 right-align">
    <% if !current_user.nil? %>
      <% if !current_user.discussion_stars.find_by(:discussion => @discussion).nil? %>
        <%= link_to star_discussion_path(@discussion), :id => 'discussion-star-link', method: :post do %>
          <i class="starred material-icons">star</i>
        <% end %>
      <% else %>
        <%= link_to star_discussion_path(@discussion), :id => 'discussion-star-link', method: :post do %>
          <i class="material-icons">star_border</i>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%# Edit/Delete features %>
  <div class="col s12 right-align">
    <% if can_see_edit_and_delete(@discussion) %>
      <%= link_to 'Edit', edit_discussion_path(@discussion), :class => 'btn-flat' %>
      <%= link_to 'Delete', discussion_path(@discussion),
                    method: :delete,
                    data: { confirm: 'Are you sure to delete the discussion?' },
                    :class => 'btn-flat' %>
    <% end %>
  </div>
</div>

<%= render @discussion.comments %>
<%= render 'comments/form' %>

<%= link_to discussions_path do %>
  <div class="valign-wrapper black-text">
    <i class="material-icons">arrow_back</i> Back
  </div>
<% end %>