<div class="row">
  <div class="col s12">
    <h1><%= @discussion.title %></h1>
    <p class="flow-text"><%= @discussion.body %></p>
  </div>
  <%# Voting section %>
  <div class="col s6">
    <%= link_to upvote_discussion_path(@discussion), method: :post do %>
      <i class="material-icons">arrow_upward</i>
    <% end %>
    <%= total_votes %>
    <%= link_to downvote_discussion_path(@discussion), method: :post do %>
      <i class="material-icons">arrow_downward</i>
    <% end %>
  </div>
  <%# Starring section %>
  <div class="col s6">
    <% if !current_user.nil? %>
      <% if !current_user.discussion_stars.find_by(:discussion => @discussion).nil? %>
        <%= link_to star_discussion_path(@discussion), method: :post do %>
          <i class="material-icons">star</i>
        <% end %>
      <% else %>
        <%= link_to star_discussion_path(@discussion), method: :post do %>
          <i class="material-icons">star_border</i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render @discussion.comments %>
<%= render 'comments/form' %>

<% if @discussion.user == current_user %>
  <%= link_to 'Edit', edit_discussion_path(@discussion) %>
  <%= link_to 'Delete', discussion_path(@discussion),
                method: :delete,
                data: { confirm: 'Are you sure to delete the discussion?' } %>
<% end %>
<%= link_to 'Back', discussions_path %>
