<%= form_for @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="input-field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  
  <div class="input-field">
    <%= form.label :body %>
    <%= form.text_area :body, :class => "materialize-textarea" %>
  </p>

  <div class="row">
    <div class="input-field col s12 m4">
      <%= form.collection_select(:team_id, Team.all, :id, :name) %>
      <label>Team</label>
    </div>
  </div>

  <%= form.submit 'Create Article', :class => 'waves-effect waves-light btn' %>
 
<% end %>