<%= form_for @article do |form| %>
 
  <div class="input-field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  
  <div class="input-field">
    <%= form.label :body %>
    <%= form.text_area :body, :class => "materialize-textarea" %>
  </p>

  <div class="row">
    <div class="input-field col s12 m4">
      <%= form.collection_select(:team_id, Team.all, :id, :name, prompt: true) %>
      <label>Team</label>
    </div>
  </div>

  <%= form.submit 'Create Article', :class => 'waves-effect waves-light btn' %>
 
<% end %>