<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <%if current_user != nil%>
        <%if current_user.admin? %>
          <%= link_to 'Edit Article', edit_article_path(article)%>
          <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      <%end%>
    </tr>
  <% end %>
</table>