
<div>
  <br>
  <strong>Title:</strong> <%= @article.title %><br>
  <br>
  <strong>Text: </strong><%= @article.body %><br>
  <br>
</div>
<div>
  <%if current_user != nil%>
    <%if current_user.admin? %>
      <%= link_to 'Edit Article', edit_article_path(@article)%>
    <%end%>
  <%end%>
  <%= link_to "Home", root_path%>
  <%= link_to 'Back', articles_path %>
</div>