<%= form_for @user do |form| %>
	<div class="input-field">
		<%= form.label :first_name %>
		<%= form.text_field :first_name %>
	</div>
	<div class="input-field">
		<%= form.label :last_name %>
		<%= form.text_field :last_name %>
	</div>
	<div class="input-field">
		<%= form.label :email %>
		<%= form.email_field :email %>
	</div>
	<div class="input-field">
		<%= form.label :address %>
		<%= form.text_field :address %>
	</div>
	<div class="input-field">
		<%= form.label :born_on %>
		<%= form.date_field :born_on %>
	</div>
	<div class="input-field">
		<%= form.label :born_at %>
		<%= form.text_field :born_at %>
	</div>
	
	<%if current_user.admin? %>
		<p>
			<label>
				<%= form.check_box :admin, :class => 'filled-in' %>
				<span>Admin</span>
			</label>
		</p>
	<% end %>

	<%= form.submit 'Edit User', :class => 'waves-effect waves-light btn' %>
<% end %>