<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Born on</th>
    <th>Born at</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.born_on %></td>
      <td><%= user.born_at %></td>
      <td><%= link_to 'Show', user_myprofile_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Delete', user_path(user),
              method: :delete,
              data: { confirm: 'Are you sure to delete this user?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Home', root_path%>
<%= link_to 'Back', users_path %>