<div class"row">
  <div class="col-lg-3">
    <br>
    <strong>First Name:</strong> <%= @user.first_name %><br>
    <strong>Last Name: </strong><%= @user.surname %><br>
    <strong>Email: </strong><%= @user.email %><br><br>
    <strong>Address: </strong><%= @user.address %><br><br>
    <strong>Born on: </strong><%= @user.born_on %><br><br>
    <strong>Born at: </strong><%= @user.born_at %><br><br>
  </div>
  <div class="col-lg-3">
	<%= link_to 'Home', root_path%>
  </div>
</div>